# Archivos de video
*.mp4

# Archivos Python compilados
*.pyc
**pycache**/

# Entorno virtual
venv/

# Archivos de configuración y secretos
.env

# Archivos del sistema
.DS_Store

# Archivos de salida generados
output_transcriptions/

# Carpetas de sermones generados
sermons/*/
output_images/
*.log
